.tableSearch-container {
  width: 197px;
  height: 40px;
}

.tableSearch-input {
  width: 100%;
  height: 38px;
  position: relative;
  border: 1px solid #d2d6da;
  border-radius: 8px;
  background-color: #ffffff;
  outline: none;
  position: relative;
  display: flex;
  align-items: center;
  text-indent: 35px;
}

.tableSearch-input::placeholder {
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.07px;
  color: #b3b3b3;
  letter-spacing: -0.39px;
}

.tableSearch-icon {
  position: absolute;
  z-index: 10;
  padding-top: 12px;
  padding-left: 12px;
  pointer-events: none;
}