.addEmployee-form {
    width: 1144px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 17px;
    margin-left: 8px;
}

.form-section {
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #EFF0F6;
    border-radius: 20px;
    padding: 27px 62px;
    display: flex;
    flex-direction: column;
}

.form-section>h3 {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    color: #272727;
    margin-bottom: -13px;
    display: flex;
}

.toggle-section>h3 {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    color: #272727;
    margin-bottom: -13px;
    display: flex;
}

.toggle-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toggle-form {
    height: 36px;
    width: 36px;
    background-color: #EFF0F6;
    color: #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: row;
    gap: 73px;
    margin-top: 44px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-group label {
    font-family: "Roboto", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    color: #272727;
}

.input-group label::after {
    content: "*";
    color: #E9374A;
    margin-left: 5px;
    position: absolute;
    position: sticky;
}

.input-group input {
    width: 257px;
    height: 32px;
    padding: 10px;
    border: 1px solid #C4C4C4;
    border-radius: 6px;
    font-size: 14px;
    text-indent: 8.5px;
}

.input-group input:focus {
    outline: none;
    border-color: #E9374A !important;
    box-shadow: 0 0 5px rgba(233, 55, 74, 0.5) !important;
}


.input-group>input::placeholder {
    color: #C4C4C4;
}

.input-group select {
    width: 280px !important;
    height: 53.6px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 18.5px !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    font-size: 14px !important;
    line-height: 32px !important;
    box-sizing: border-box;
    appearance: none;
    color: #C4C4C4;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.input-group select:focus {
    outline: none;
    border-color: #E9374A !important;
    box-shadow: 0 0 5px rgba(233, 55, 74, 0.5) !important;
}


.input-group select>option {
    font-family: "Roboto", serif;
    font-size: 14px;
    font-weight: 400;
    color: #383737;
}



.input-group select:valid {
    color: #000;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.button-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 20px;
}

.button-group button[type="submit"] {
    background-color: #000;
    color: #fff;
}

.button-group button[type="button"] {
    background-color: #f5f5f5;
    color: #333;
}

.button-group button:hover {
    opacity: 0.9;
}